<section class="col-xs-12 col-sm-6 col-md-6 col-lg-3 table-responsive" id="tableau_conte_visiteurs">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr class="titre">
            <th>Titre</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr class="impair">
            <td><a href="#">La Belle au bois dormant</a></td>
            <td>04/06/2017</td>
        </tr>
        <tr class="pair">
            <td><a href="#">Le Petit Chaperon rouge</a></td>
            <td>14/02/2017</td>
        </tr>
        <tr class="impair">
            <td><a href="#">La Princesse au petit pois</a></td>
            <td>20/04/2017</td>
        </tr>
        <tr class="pair">
            <td><a href="#">Le Petit Chaperon rouge</a></td>
            <td>14/02/2017</td>
        </tr>
        <tr class="impair">
            <td><a href="#">La Princesse au petit pois</a></td>
            <td>20/04/2017</td>
        </tr>
        <tr class="pair">
            <td><a href="#">Le Petit Chaperon rouge</a></td>
            <td>14/02/2017</td>
        </tr>
        <tr class="impair">
            <td><a href="#">La Princesse au petit pois</a></td>
            <td>20/04/2017</td>
        </tr>
        </tbody>
    </table>
</section>
<section class="col-xs-12 col-sm-12 col-md-12 col-lg-7" id="conte">
    <ul class="nav nav-tabs" id="onglets">
        <li class="active"><a href="#situation_initiale" data-toggle="tab">Situation Initiale</a></li>
        <li><a href="#element_declencheur" data-toggle="tab">Elément déclencheur</a></li>
        <li><a href="#peripetie" data-toggle="tab">Péripétie</a></li>
        <li><a href="#denouement" data-toggle="tab">Dénouement</a></li>
        <li><a href="#situation_finale" data-toggle="tab">Situation finale</a></li>
    </ul>
    <div class="tab-content content_bibliotheque">
        <div class="tab-pane active fade in" id="situation_initiale">
            <h1>La Belle au bois dormant</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non accusamus voluptas rem
                veniam
                nobis architecto dolorem dolorum recusandae quia! Atque non ut doloremque, consequuntur
                tempora minima dolorem eligendi eos autem! Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Beatae deleniti alias error, similique fuga maxime soluta labore
                necessitatibus numquam delectus. Delectus cupiditate perspiciatis quam, cumque molestiae
                ea
                quas eaque quaerat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam
                optio
                quisquam, labore quaerat, vel delectus iusto consequuntur ex provident cupiditate.
                Accusantium quia, laboriosam ipsa distinctio facilis necessitatibus. Minus aspernatur,
                eaque? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti at perferendis
                iusto totam accusantium inventore ipsa quidem asperiores, aut culpa labore, possimus
                magnam
                numquam sequi aspernatur enim. Ab, omnis. Reiciendis. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Non accusamus voluptas rem veniam nobis architecto dolorem
                dolorum recusandae quia! Atque non ut doloremque, consequuntur tempora minima dolorem
                eligendi eos autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
                deleniti alias error, similique fuga maxime soluta labore necessitatibus numquam
                delectus.
                Delectus cupiditate perspiciatis quam, cumque molestiae ea quas eaque quaerat. Lorem
                ipsum
                dolor sit amet, consectetur adipisicing elit. Totam optio quisquam, labore quaerat, vel
                delectus iusto consequuntur ex provident cupiditate. Accusantium quia, laboriosam ipsa
                distinctio facilis necessitatibus. Minus aspernatur, eaque? Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Deleniti at perferendis iusto totam accusantium inventore
                ipsa
                quidem asperiores, aut culpa labore, possimus magnam numquam sequi aspernatur enim. Ab,
                omnis. Reiciendis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non
                accusamus
                voluptas rem veniam nobis architecto dolorem dolorum recusandae quia! Atque non ut
                doloremque, consequuntur tempora minima dolorem eligendi eos autem! Lorem ipsum dolor
                sit
                amet, consectetur adipisicing elit. Beatae deleniti alias error, similique fuga maxime
                soluta labore necessitatibus numquam delectus. Delectus cupiditate perspiciatis quam,
                cumque
                molestiae ea quas eaque quaerat. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.</p>
        </div>
        <div class="tab-pane fade" id="element_declencheur">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non accusamus voluptas rem
                veniam
                nobis architecto dolorem dolorum recusandae quia! Atque non ut doloremque, consequuntur
                tempora minima dolorem eligendi eos autem! Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Beatae deleniti alias error, similique fuga maxime soluta labore
                necessitatibus numquam delectus. Delectus cupiditate perspiciatis quam, cumque molestiae
                ea
                quas eaque quaerat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam
                optio
                quisquam, labore quaerat, vel delectus iusto consequuntur ex provident cupiditate.
                Accusantium quia, laboriosam ipsa distinctio facilis necessitatibus. Minus aspernatur,
                eaque? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti at perferendis
                iusto totam accusantium inventore ipsa quidem asperiores, aut culpa labore, possimus
                magnam
                numquam sequi aspernatur enim. Ab, omnis. Reiciendis. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Non accusamus voluptas rem veniam nobis architecto dolorem
                dolorum recusandae quia! Atque non ut doloremque, consequuntur tempora minima dolorem
                eligendi eos autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
                deleniti alias error, similique fuga maxime soluta labore necessitatibus numquam
                delectus.</p>
        </div>
        <div class="tab-pane fade" id="peripetie">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non accusamus voluptas rem
                veniam
                nobis architecto dolorem dolorum recusandae quia! Atque non ut doloremque, consequuntur
                tempora minima dolorem eligendi eos autem! Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Beatae deleniti alias error, similique fuga maxime soluta labore
                necessitatibus numquam delectus. Delectus cupiditate perspiciatis quam, cumque molestiae
                ea
                quas eaque quaerat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam
                optio
                quisquam, labore quaerat, vel delectus iusto consequuntur ex provident cupiditate.
                Accusantium quia, laboriosam ipsa distinctio facilis necessitatibus. Minus aspernatur,
                eaque? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti at perferendis
                iusto totam accusantium inventore ipsa quidem asperiores, aut culpa labore, possimus
                magnam
                numquam sequi aspernatur enim. Ab, omnis. Reiciendis. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Non accusamus voluptas rem veniam nobis architecto dolorem
                dolorum recusandae quia! Atque non ut doloremque, consequuntur tempora minima dolorem
                eligendi eos autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
                deleniti alias error, similique fuga maxime soluta labore necessitatibus numquam
                delectus.
                Delectus cupiditate perspiciatis quam, cumque molestiae ea quas eaque quaerat. Lorem
                ipsum
                dolor sit amet, consectetur adipisicing elit. Totam optio quisquam, labore quaerat, vel
                delectus iusto consequuntur ex provident cupiditate. Accusantium quia, laboriosam ipsa
                distinctio facilis necessitatibus. Minus aspernatur, eaque? Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Deleniti at perferendis iusto totam accusantium inventore
                ipsa
                quidem asperiores, aut culpa labore, possimus magnam numquam sequi aspernatur enim. Ab,
                omnis.</p>
        </div>
        <div class="tab-pane fade" id="denouement">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non accusamus voluptas rem
                veniam
                nobis architecto dolorem dolorum recusandae quia! Atque non ut doloremque, consequuntur
                tempora minima dolorem eligendi eos autem! Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Beatae deleniti alias error, similique fuga maxime soluta labore
                necessitatibus numquam delectus. Delectus cupiditate perspiciatis quam, cumque molestiae
                ea
                quas eaque quaerat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam
                optio
                quisquam, labore quaerat, vel delectus iusto consequuntur ex provident cupiditate.
                Accusantium quia, laboriosam ipsa distinctio facilis necessitatibus. Minus aspernatur,
                eaque? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti at perferendis
                iusto totam accusantium inventore ipsa quidem asperiores, aut culpa labore, possimus
                magnam
                numquam sequi aspernatur enim. Ab, omnis. Reiciendis. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Non accusamus voluptas rem veniam nobis architecto dolorem
                dolorum recusandae quia! Atque non ut doloremque, consequuntur tempora minima dolorem
                eligendi eos autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
                deleniti alias error, similique fuga maxime soluta labore necessitatibus numquam
                delectus.</p>
        </div>
        <div class="tab-pane fade" id="situation_finale">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non accusamus voluptas rem
                veniam
                nobis architecto dolorem dolorum recusandae quia! Atque non ut doloremque, consequuntur
                tempora minima dolorem eligendi eos autem! Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Beatae deleniti alias error, similique fuga maxime soluta labore
                necessitatibus numquam delectus. Delectus cupiditate perspiciatis quam, cumque molestiae
                ea
                quas eaque quaerat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam
                optio
                quisquam, labore quaerat, vel delectus iusto consequuntur ex provident cupiditate.
                Accusantium quia, laboriosam ipsa distinctio facilis necessitatibus. Minus aspernatur,
                eaque? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti at perferendis
                iusto totam accusantium inventore ipsa quidem asperiores, aut culpa labore, possimus
                magnam
                numquam sequi aspernatur enim. Ab, omnis. Reiciendis. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Non accusamus voluptas rem veniam nobis architecto dolorem
                dolorum recusandae quia! Atque non ut doloremque, consequuntur tempora minima dolorem
                eligendi eos autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
                deleniti alias error, similique fuga maxime soluta labore necessitatibus numquam
                delectus.</p>
        </div>
    </div>
</section>
