{# On utilise ici le layout général, qui se situe dans le CoreBundle #}
{% extends "JTIRPlatformBundle::layout.html.twig" %}

{% block title %}
    Tutoriels - {{ parent() }}
    {# parent() affiche le reste du block title. On ne fait que rajouter "Accueil - " au titre de la page #}
{% endblock %}

{% block menu %}
    {{ include('JTIRUserBundle:enseignants:menu.html.twig') }}
{% endblock %}

{% block body %}

    <!-- TUTO -->
    <section id="section_enseignants">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Tutoriels</h2>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1 block-classe" id="tutoriels">
                    <img src="{{ asset('img/math.png') }}" alt="Un tableau de mathématiques" id="math">

                    <div class="col-lg-4 video">
                        <p class="text-center">Inscrire une classe</p>
                        <iframe src="https://www.youtube.com/embed/HchMW8EhWPU" frameborder="0" allowfullscreen class="center-block"></iframe>
                    </div>
                    <div class="col-lg-4 video">
                        <p class="text-center">Sélectionner le conte d'un élève</p>
                        <iframe src="https://www.youtube.com/embed/HchMW8EhWPU" frameborder="0" allowfullscreen class="center-block"></iframe>
                    </div>
                    <div class="col-lg-4 video">
                        <p class="text-center">Corriger un conte</p>
                        <iframe src="https://www.youtube.com/embed/HchMW8EhWPU" frameborder="0" allowfullscreen class="center-block"></iframe>
                    </div>

                    <div class="col-lg-4 video">
                        <p class="text-center">...</p>
                        <iframe src="https://www.youtube.com/embed/HchMW8EhWPU" frameborder="0" allowfullscreen class="center-block"></iframe>
                    </div>
                    <div class="col-lg-4 video">
                        <p class="text-center">...</p>
                        <iframe src="https://www.youtube.com/embed/HchMW8EhWPU" frameborder="0" allowfullscreen class="center-block"></iframe>
                    </div>
                    <div class="col-lg-4 video">
                        <p class="text-center">...</p>
                        <iframe src="https://www.youtube.com/embed/HchMW8EhWPU" frameborder="0" allowfullscreen class="center-block"></iframe>
                    </div>

                </div>
            </div>

        </div>

    </section>
    <!-- /TUTO -->

{% endblock %}

{% block javascripts %}

    <script>
        var menu = $('#burger_menu');

        menu.find('ul > li.dropdown.active').removeClass('active');
        menu.find('ul > li:nth-child(2)').addClass('active');
    </script>

{% endblock %}

{% block sitemap %}
    {{ include('JTIRUserBundle:enseignants:sitemap.html.twig') }}
{% endblock %}
